# Fixed 16MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=n

# ESPlay Micro I2S audio GPIO
CONFIG_AUDIO_I2S_BCLK_GPIO=26
CONFIG_AUDIO_I2S_WS_GPIO=25
CONFIG_AUDIO_I2S_DOUT_GPIO=19
CONFIG_AUDIO_AMP_GPIO=4

# No WiFi
CONFIG_ESP_WIFI_ENABLED=n

# UTF-8 SD long filenames
CONFIG_FATFS_API_ENCODING_UTF_8=y
CONFIG_FATFS_LFN_HEAP=y

# Keep FATFS internal buffers in DMA-capable internal RAM
CONFIG_FATFS_ALLOC_PREFER_EXTRAM=n

# PSRAM for framebuffer
CONFIG_SPIRAM=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_MD5=y

# CPU at 240MHz
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
